body {
    background-image: url("https://ak.picdn.net/shutterstock/videos/11057339/thumb/1.jpg");
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    user-select: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    max-height: 100%;
    overflow: hidden;
}

.darkened {
    background-color: rgba(0,0,0,0.7);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    position: relative;
    align-items: center;
}

.metadata {
    padding: .5em 1em;
    display: flex;
    width:100%;
    height: 1.5em;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    flex-grow: 1;
}

.mark {
    align-content: end;
    flex-grow: 1;
    text-align: right;
}

.left-margin, .right-margin {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 92%;
}

.left-margin {
    justify-content: flex-end;
}

.right-margin {
    justify-content: space-between;
}

.logs, .params {
    padding: 1em;
    max-width: 35em;
    max-height: 30em;
}

.logs {
    font-size: 0.8em;
}

.params ul {
    margin-bottom: 1em;
}

.warning {
    color: orange;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.compass {
    width: 16em;
    height: 16em;
    border-radius: 8em;
    position: relative;
}

.precise-yaw-value {
    color: #7CFC00;
    font-weight: bold;
}

.hud-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 95%;
}

.yaw-box, .pitch-box {
    overflow: hidden;
    width: 70em;
    position: relative;
    font-weight: bold;
    justify-content: space-between;
}

.yaw-box {
    margin-top: 3em;
    margin-bottom: 10em;
    height: 10em;
}

.yaw-scale {
    position: absolute;
    left: -165%;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: #7CFC00;
    text-align: center;
}

.yaw-scale img {
    transform: translate(-23.43%, 0%);
}

.pitch-box {
    height: 20em;
}

.pitch-scale {
    right: 0;
    top: -304.5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7CFC00;
}

.pitch-scale img {
    transform: translate(0%, -41.5%);
}

